*{
    box-sizing: border-box;
}

body{
    background-image: url('imgs/pattern-background-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
justify-content: center;
font-family: 'Red Hat Display', sans-serif;
font-size: 16px;

}

#card{
    width: 375px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.hero{
    width: 375px;
}





.info{

    text-align: center;
}

h3{
    font-size: 1.8rem;
    font-weight: 900;
    color:hsl(225, 54%, 23%)
    
}

.info p{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    line-height: 1.8rem;
    font-size: 1.1rem;
    color:hsl(224, 23%, 55%);
}

.plan{
    display: flex;
    justify-content: space-evenly;
    
    
}

.pickedPlan{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

#change{
    display: block;
    margin-top: 1rem;
    color: hsl(245, 75%, 52%);
    font-weight: 900;
}

#change:hover{
    text-decoration: none;
}

.planRate{
display: flex;
flex-direction: row;
text-align: center;

}

.icon{
    margin-right: 1.3rem;
}

.bold{
    color:hsl(225, 54%, 23%);
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.grey{
    color:hsl(224, 23%, 55%);
}

.button{
    display: flex;
    justify-content: center;
}

.purpleButton{
    text-align: center;
    text-decoration: none;
    display: block;
    color: #fff;
    background-color: #382AE1;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.8rem;
    
}

footer{
    text-align: center;
}

footer p{
    font-weight: 900;

}