*{
    box-sizing: border-box;
}

body{
    background-image: url('imgs/pattern-background-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
justify-content: center;
font-family: 'Red Hat Display', sans-serif;
font-size: 16px;

}

#card{
    width: 375px;
    display: flex;
    flex-direction: column;
}

.hero{
    width: 375px;
}





.info{
    background-color: #fff;
    text-align: center;
}

h3{
    font-size: 1.8rem;
    font-weight: 900;
}

.info p{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    line-height: 1.8rem;
    font-size: 1.1rem;
}